html, body {
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

body {
    color: #333;
    line-height: 1.5em;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    min-width: 100%;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
}

.wrapper > nav {
    width: 250px;
    background: hsla(0, 0%, 90%, .8);
    padding: 25px;
    box-sizing: border-box;
    border-left: solid 1px hsla(0, 0%, 80%, 1);
}

.wrapper > nav h3 {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 5px;
}
.wrapper > nav a {
    display: block;
    text-decoration: none;
    color: #666;
    position: relative;
}

.wrapper > nav a.active::before {
    content: '-';
    color: #EEE;
    display: block;
    position: absolute;
    left: -25px; 
    border-left: solid 3px #333;
}

.wrapper > nav a:hover {
    color: #333;
    text-decoration: underline;
}

.wrapper > section {
    order: -1;
    min-height: 100vh;
    flex-grow: 1;
    box-sizing: border-box;
}

#menu {
    display: none;
}

iframe {
    z-index: 100;
}

@media screen and (max-width: 800px) {
    .wrapper > nav {
        position: absolute;
        right: -250px;
        transition: right .5s; 
        height: 100vh;
    }

    .wrapper > nav.open {
        right: 0px;
    }

    #menu {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        cursor: pointer;
        border: 0;
        z-index: 999;
        background: transparent;
        width: 30px;
        height: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        padding: 10px;
    }
    
    #menu span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #333;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
        #menu span:nth-child(1) {
        top: 0px;
      }
      
      #menu span:nth-child(2),#menu span:nth-child(3) {
        top: 8px;
      }
      
      #menu span:nth-child(4) {
        top: 16px;
      }
      
      #menu.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      
      #menu.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #menu.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #menu.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
}