@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800,900');
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    font-family: 'Montserrat', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}
*{
    box-sizing: border-box;
}
.content{
    width: 100%;
    max-width: 1000px;
    background: white;
    margin: 0 auto;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 36px -2px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 36px -2px rgba(196,196,196,1);
    box-shadow: 0px 0px 36px -2px rgba(196,196,196,1);
}

body{
    background: #EEE;
}
.competition{
    width: 290px;
    height: 200px;
    margin-left: 15px;
    float: left;
    position: relative;
    overflow: hidden;
}
.competition img{
    width: 290px;
    height: 200px;
    object-fit: cover;
}
.cap:hover:before{
    content: "CAPITOLE";
    width: 290px;
    height: 200px;
    background-color: hsla(225, 55%, 58%, 1);
    position: absolute;
    top: 130px;
    left: 0;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}
.ab:hover:before{
    content: "ANCIENNE BELGIQUE";
    width: 290px;
    height: 200px;
    background-color: hsla(225, 55%, 58%, 1);
    position: absolute;
    top: 130px;
    left: 0;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}
.musichall:hover:before{
    content: "MUSICHALL";
    width: 290px;
    height: 200px;
    background-color: hsla(225, 55%, 58%, 1);
    position: absolute;
    top: 130px;
    left: 0;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}
.cap:before{
    content: "CAPITOLE";
    width: 290px;
    height: 200px;
    background-color: hsla(225, 55%, 58%, 1);
    position: absolute;
    top: 200px;
    left: 0;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.ab:before{
    content: "ANCIENNE BELGIQUE";
    width: 290px;
    height: 200px;
    background-color: hsla(225, 55%, 58%, 1);
    position: absolute;
    top: 200px;
    left: 0;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.musichall:before{
    content: "MUSICHALL";
    width: 290px;
    height: 200px;
    background-color: hsla(225, 55%, 58%, 1);
    position: absolute;
    top: 200px;
    left: 0;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.list{
    float: left;
    width: 35%;
    margin-left: 50px;
}
.second{
    margin-top: 50px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: grey;
    position: relative;
}
nav ul li a:before{
    content:"";
    width: 0px;
    height: 2px;
    background-color: grey;
    position: absolute;
    top: 25px;
    left: 1px;
    transition: all 0.3s ease;
}
nav ul li a:hover:before{
    content:"";
    width: 50px;
    height: 2px;
    background-color: grey;
    position: absolute;
    top: 25px;
    left: 1px;
}
.header1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    color: #7659CF;
    letter-spacing: 4px
}
.header2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #7659CF;
    letter-spacing: 2px;
}
.header3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #575757;
}
.color{
    width: 200px;
    height: 200px;
    float: left;
    color: white;
    padding: 20px;
    margin-right: 20px;
}
.blue{
    background-color: #7659CF;
}
.darkgray{
    background-color: #575757;
}
.darkergrey{
    background-color: #333333;
}
.greybackground{
    background-color:#f7f7f7;
    width: 400px;
    height: 400px;
}
.tekstbox{
    width: 200px;
    height: 222px;
    position: relative;
    top: 100px;
    left: 100px;
    background: white;
    /* padding: 20px; */
    transform: rotate(5deg);
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
}
.tekstbox p{
    transform: rotate(-5deg);
    
}
.lightgrey{
    background-color: #F7F7F7;
    color: #333;
}
.blueback{
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #7659CF;
}
.whiteback{
    width: 500px;
    height: 50px;
    background-color: white;
    padding-left: 20px;
    padding-top:13px;
    position: relative;
    top: 50px;
    left: 50px;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.2);
}
.whiteback p{
    margin: 0px;
}

/* Voeg jouw css hieraan toe */